{
    "env": {
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint/eslint-plugin",
        "prettier",
        "simple-import-sort",
        "import"
    ],
    "rules": {
        "simple-import-sort/sort": "warn"
    },
    "ignorePatterns": [
        "dist",
        "node_modules",
        "build"
    ]
}
